<div ng-controller="ProfilCtrl" class="doc-content" layout="column" ng-cloak> 

  <md-toolbar>
    <div class="md-toolbar-tools">
        <md-button ng-href="{{backUrl}}">
          <md-icon md-svg-icon="navigation:arrow_back" class="name"></md-icon>
        </md-button>
       Compte
    </div>
  </md-toolbar>

  <md-content layout-padding class="autoScroll" ng-click="changed=true">

	  <p>Changez les paramètres de base de votre compte et vos paramètres de langue.</p>    

    <md-input-container class="md-block">
      <md-icon md-svg-icon="social:person" class="name"></md-icon>
      <input ng-model="user.name" ng-change="change()" ng-required="true" type="text" placeholder="Nom d'utilisateur">
    </md-input-container>

    <md-input-container class="md-block">
      <md-icon md-svg-icon="communication:email" class="email"></md-icon>
      <input ng-model="user.email" ng-change="change()" type="email" type="email" placeholder="Email (required)" ng-required="true">
      Votre email ne sera pas rendu public.
    </md-input-container>

    <md-input-container class="md-icon-float md-icon-right md-block">
      <label>Langue</label>
      <md-icon md-svg-icon="maps:place"></md-icon>
      <md-select ng-model="user.lang">
        <md-option ng-repeat="i in langs" value="{{i.value}}">
          {{i.name}}
        </md-option>
      </md-select>
      Vous souhaitez apporter votre soutien à la traduction ? Visitez notre <a ng-href="{{wikiUrl}}" target="_blank">Centre de Traduction</a>.
    </md-input-container>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="!changed">Enregistrer les modifications</md-button>
    </section>

  </md-content>

</div>