.container
  .main-banner
    #header
      h1 MY RPG ONLINE
      .input-field.col.s6
        i.prefix.fa.fa-search
        input#icon_prefix(type='text').validate
        label(for='icon_prefix') Rechercher dans MRO
    #info
      p Rejoignez des millions de joueurs en ligne et découvrez les expériences de jeu les plus épiques qui soient !
      a.btn.waves-effect.waves-light(href='about') En savoir plus
      &nbsp;        
      a.btn.waves-effect.waves-light(href='download') Télécharger le logiciel
      br
      br
      #auth
        a.btn.waves-effect.waves-light Créer un compte
        &nbsp;        
        a.btn.waves-effect.waves-light Connexion
  .row

    each val in ['Adventure', 'Dungeon', 'Strategy', 'Arena', 'Cards', 'Fighting', 'Puzzle', 'Racing']
      .col.s12.m6.l4
        .card.hoverable.small
              .card-image
                img(src="./images/sample-1.jpg")
              .card-action
                a(href="#")= val

  #footer
    #footermenu
      #about
      #products
      #account
      #support
    #footerbar
      a Conditions d'utilisation
      a Mentions légales
      a Politique de confidentialité
      a Droits d'auteur
      a Nous contacter
      a Europe - Français