nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed
      a.navbar-brand(href='#') MRO
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=page === 'home' ? 'active' : 'inactive'): a.menu1-button(href='home') Home
        li(class=page === 'about' ? 'active' : 'inactive'): a.menu3-button(href='about') About

.content-body